html{
  font-family: "roboto";
}

.titulo { 
                            text-align: center;
                            color: rgb(255, 0, 0);
                            font-size: 50px;
}
.subtitulo {
                            text-align: center;
                            color: rgb(0, 0, 0);
                            font-size: 30px;
                            max-width: 600px;
                            margin: 0 auto;
                            border: 00px solid black ;
                            border-radius: 10px;
                            padding: 10px;
                        
                            
                            
}
.caja { 
                            display: block;
                            margin: 0 auto;
                            width: 350px;
                            font-size: 100px;
}
.boton {
                            display: block;
                           margin: 0% auto;
                           font-size: 50px;
                            border-radius: 15px;
}
.creditos {
                            text-align: center;
                            font-size: 15px;
                            color: gray;
                            border-radius: 10px;
}
.una pinche barra xd {
                    color: black;
}
.acepto {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.compania {
    font-family:cursive;
    font-size: 35px;
    color: rgb(0, 0, 255);
    margin-right: 0px;
    margin-top: 0px;
    margin: 0px;
    border-radius: 2px;
    border: 2px solid gray;
}
.misjuegos {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    border: 0.5px solid black;
    
    padding: 5px;
}
.grasiasporjugar {
    text-align: center;
    font-size: 25px;
    color: rgb(82, 82, 82);
    border: 0px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
}
.cajadegmail {
  position: relative;
  width: 350px;   
  margin: 20px;
}

.cajadegmail input {
  width: 100%;
  height: 20px;   
  font-size: 16px;
  padding: 18px 12px 6px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  outline: none;
}
.cajadegmail {
  display: flex;         
  gap: 10px;              
  width: 450px;
}

.cajadegmail input {
  flex: 1;                
  height: 56px;
  font-size: 16px;
  padding: 0 12px;
  border: 1px solid #dadce0;
  border-radius: 4px;
  outline: none;
}

.cajadegmail button {
  height: 56px;
  padding: 0 20px;
  font-size: 16px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cajadegmail button:hover {
  background-color: #1558b0;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: 20px;
}
#loader {
  position: fixed;
  inset: 0;
  background: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #555;
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
